<!--Created by :Soyed Tasriq Ahmed Rahat, Id:301077466- Created on : Oct, 10 ,2020-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>




  
<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %> </h1>
  </div>
  <p>"My mission in life is not merely to survive, but to thrive; and to do so with some passion, Some cómpassion, Some hurno and some style" as MS. Maya Angelou said.</p>
  <P></P>
</main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>



