<!--Created by :Soyed Tasriq Ahmed Rahat, Id:301077466- Created on : Oct, 10 ,2020-->
<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 



  <main class="mb-5">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %> Offered</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/web.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <p class="card-text">I can do fron and backend for designing, coding and modifying websites, from layout to function and according to a client's specifications. Strive to create visually appealing sites that feature user-friendly design and clear navigation.</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/3d.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Concept Design</h5>
              <p class="card-text"> I can visualize and sketch design site plans as per client goals</p>
            </div>
          </div>
        </div>
        

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    