<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 


  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
      </div>
    </div>

    <div class="container">
      

     <!--Created by :Soyed Tasriq Ahmed Rahat, Id:301077466- Created on : Oct, 10 ,2020-->
      <div class="card mb-3 w-100" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/Assets/images/profile.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text mb-5">I  am  a  type  of  person  who  believes  creativity  is  beyond  bound  and  would  achieve anything  I  dreamed  of   no  matter  how  tough  things  get and "I lost my fear of being wrong to live a creative life"</p>
              
              

              <a href="/Assets/cv.pdf" class="btn btn-primary btn-dark mt-3">Resume</a>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    

  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    