<!--Created by :Soyed Tasriq Ahmed Rahat, Id:301077466- Created on : Oct, 10 ,2020-->
<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 



  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
          <form>
            <div class="form-row align-items-center">
  
              <div class="w-100">
                <label class="sr-only" for="fullName">Full Name</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i></div>
                  </div>
                  <input type="text" class="form-control" id="fullName" placeholder="Full Name" required>
                </div>
              </div>

              <div class="w-100">
                <label class="sr-only" for="email">Email</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-at"></i></div>
                  </div>
                  <input type="email" class="form-control" id="email" placeholder="Email" required>
                </div>
              </div>

              <div class="w-100">
                <label class="sr-only" for="telNumber">Phone Number</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-phone"></i></div>
                  </div>
                  <input type="text" class="form-control" id="telNumber" placeholder="Phone Number" required>
                </div>
              </div>

              <div class="form-group mb-4">
                <label for="message">Your Message (Optional)</label>
                <textarea class="form-control" id="message" rows="3" cols="50"></textarea>
              </div>
            </div>
            
            <div class="form-row">
              <div class="col-auto mx-auto d-block">
                <button type="submit" class="btn btn-primary btn-dark mb-2" id="sendButton"><i class="fas fa-paper-plane"></i> Send</button>
                <button type="reset" class="btn btn-light mb-2" id="cancelButton"><i class="fas fa-window-close"></i> Cancel</button>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                
              </div>
            </div>

          </form>
        </div>
        <div class="col-4">

        </div>
      </div>
    </div>
    

  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    