<!--Created by :Soyed Tasriq Ahmed Rahat, Id:301077466- Created on : Oct, 10 ,2020-->
<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 


  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">These are few projects which I have done in my pervious semesters</p>
      </div>
    </div>

    <div class="container">

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/Assets/images/Table.JPG" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2>Table creation site</h2>
              <p class="card-text">User will be able to create a table by their number of choice of columns and rows.</p>
            
              <a href="http://studentweb.cencol.ca/srahat/Sem2Assignment2/Assingment2.html" class="btn btn-primary btn-dark">Link</a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/Assets/images/form.png" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2>Registration From</h2>
              <p class="card-text">During the my first semester I have developed this from as a membership form of Centennial Collage</p>
            
              <a href="http://studentweb.cencol.ca/srahat/assignment4/assignment4.html" class="btn btn-primary btn-dark">Link</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/Assets/images/game.JPG" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2>Game Application</h2>
              <p class="card-text">Web based a min game design with html, css, java script.</p>
            
              <a href="http://studentweb.cencol.ca/srahat/Sem2Assignment3/Assignment3/Sem2Assignment5/assignment_5.html" class="btn btn-primary btn-dark">Link</a>
              <p class="card-text">.</p>
              <p class="card-text">.</p>
              <p class="card-text">.</p>

            </div>
          </div>
        </div>
      </div>

    </div>
    

  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    